@font-face {
  font-family: fedex-sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/fedexsans-light.woff2') format('woff2');
}

@font-face {
  font-family: fedex-sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/fedexsans-regular.woff2') format('woff2');
}

@font-face {
  font-family: fedex-sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/fedexsans-medium.woff2') format('woff2');
}

@font-face {
  font-family: fedex-sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/fedexsans-bold.woff2') format('woff2');
}
